{% extends 'admin/index.html.twig' %}

{% block title %}Domaines{% endblock %}

{% block content %}
    <h1>Domaines</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domaine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ domaine.nom }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ domaine.categorie }}</td>
            </tr>
        </tbody>
    </table>

	 <a class="btn btn-warning waves-effect waves-light "  href="{{ path('app_domaines_index') }}">back to list</a>
    <a  class="btn btn-secondary waves-effect waves-light" href="{{ path('app_domaines_edit', {'id': domaine.id}) }}">edit</a>
    {{ include('domaines/_delete_form.html.twig') }}
        <style>
    a.btn.btn-warning.waves-effect.waves-light , a.btn.btn-secondary.waves-effect.waves-light {
    width: 200px;
    margin: 10px;}
    </style>
{% endblock %}
